#artisan_bar
	= link_to 'Create a Good', new_good_path
	= link_to 'Manage Goods', manage_goods_path
	= link_to 'Manage Options', manage_option_types_path
	= link_to 'Manage Collections', manage_custom_collections_path
	= link_to 'Manage Guides', manage_guides_path
	= link_to 'Manage Orders', manage_orders_path